<div class="container-fluid profile_container">
  <div class="row">
    <div class="col-sm-9 underline_row">
      <div class="col-xs-12">
        <div class="text-left profile_username">
          <h1><%= @user.username %></h1>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="col-xs-2">
          <!--<button class="btn follow_btn_show">FOLLOW</button>-->
        </div>
        <!--<div class="col-xs-2">
         <button class="btn play_btn_show">PLAY</button>
       </div>-->
        <div class="col-xs-2">
          <!-- <button class="btn share_btn_show">SHARE</button> -->
        </div>
        <div class="col-xs-8"></div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="text-center"><%= image_tag @user.user_img, class: "user_library_img" %></div>
    </div>
  </div>

  <div class="row most_popular_uploads tracks_and_stats_row">
    <div class="text-left">
      <h3>Most Recent Uploads</h3>
      <div class="row table_credentials">
        <div class="col-xs-9">
          <div class="col-xs-3"><h5>Track</h5></div>
          <div class="col-xs-3"><h5>Genre</h5></div>
          <div class="col-xs-3"><h5>Uploaded</h5></div>
          <div class="col-xs-3"><h5 class="text-center">Price</h5></div>
        </div>
        <div class="col-xs-3"></div>
      </div>

      <% @user.tracks.each do |track| %>
      <div class="row track_created_row">
        <div class="col-xs-9 track_details_col">
          <div class="col-xs-3"><h5><%= track.title %></h5></div>
          <div class="col-xs-3"><h5><%= track.genre.name %></h5></div>
          <div class="col-xs-3"><h5><%= "#{time_ago_in_words(track.created_at).gsub('about ','')} ago" %></h5></div>
          <div class="col-xs-3">
            <% if track.price == 0 || track.price == nil %>
              <h5 class="free_stamp text-center">FREE</h5>
              <% else %>
            <h5 class="set_price_stamp text-center"><%= number_to_currency(track.price, unit: "€ ") %></h5>
            <% end %>
          </div>
        </div>

          <% if user_signed_in? %>
            <% if track.user_id == current_user.id %>
            <div class="col-xs-3 track_update_col">
            <div class="col-xs-6">
              <%= link_to "Edit Track", edit_track_path(track), class: "btn edit_track_btn" %>
            </div>
              <div class="col-xs-6">
                <%= link_to "Delete", track_path(track), method: :delete, data: { confirm: "Are you sure you want to remove this track from Samplrfy?" }, class: "btn remove_track_btn" %>
              </div>
            </div>
            <% end %>
            <% end %>

            <% if user_signed_in? %>
              <% if track.user_id != current_user.id %>
            <div class="col-xs-3 track_download_col">
            <div class="col-xs-6">
              <%= link_to "Download", edit_track_path(track), class: "btn download_track_btn" %>
            </div>
              <div class="col-xs-6">
                <%= link_to track_path(track), class: "btn add_to_cart_btn" do %>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
            <% end %>
            <% else %>
            <div class="col-xs-3 track_download_col">
            <div class="col-xs-6">
              <%= link_to "Download", new_user_registration_path, class: "btn download_track_btn" %>
            </div>
              <div class="col-xs-3">
                <%= link_to track_path(track), class: "btn add_to_cart_btn" do %>
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <% end %>
              </div>
              <div class="col-xs-3">
                <%= link_to track_path(track), class: "btn save_track_btn" do %>
                  <i class="fa fa-share-alt" aria-hidden="true"></i>
                <% end %>
              </div>
            </div>
            <% end %>
        </div>
          <% end %>
      </div>

    </div>

<!--  <div class="row most_recent_uploads tracks_and_stats_row">
    <div class="text-left">
      <h3>Most Recent Uploads</h3>
      <div class="row table_credentials">
        <div class="col-xs-9">
          <div class="col-xs-3"><h5>Track</h5></div>
          <div class="col-xs-3"><h5>Genre</h5></div>
          <div class="col-xs-3"><h5>Uploaded</h5></div>
          <div class="col-xs-3"><h5 class="text-center">Price</h5></div>
        </div>
        <div class="col-xs-3"></div>
      </div>

      <% @user.tracks.each do |track| %>
      <div class="row track_created_row">
        <div class="col-xs-9 track_details_col">
          <div class="col-xs-3"><h5><%= track.title %></h5></div>
          <div class="col-xs-3"><h5><%= track.genre.name %></h5></div>
          <div class="col-xs-3"><h5><%= "#{time_ago_in_words(track.created_at).gsub('about ','')} ago" %></h5></div>
          <div class="col-xs-3">
            <% if track.price == 0 || track.price == nil %>
              <h5 class="free_stamp text-center">FREE</h5>
              <% else %>
            <h5 class="set_price_stamp text-center"><%= number_to_currency(track.price, unit: "€ ") %></h5>
            <% end %>
          </div>
        </div>

          <% if user_signed_in? %>
            <% if track.user_id == current_user.id %>
            <div class="col-xs-3 track_update_col">
            <div class="col-xs-6">
              <%= link_to "Edit Track", edit_track_path(track), class: "btn edit_track_btn" %>
            </div>
              <div class="col-xs-6">
                <%= link_to "Delete", track_path(track), method: :delete, data: { confirm: "Are you sure you want to remove this track from Samplrfy?" }, class: "btn remove_track_btn" %>
              </div>
            </div>
            <% end %>
            <% end %>

            <% if user_signed_in? %>
              <% if track.user_id != current_user.id %>
            <div class="col-xs-3 track_download_col">
            <div class="col-xs-6">
              <%= link_to "Download", edit_track_path(track), class: "btn download_track_btn" %>
            </div>
              <div class="col-xs-6">
                <%= link_to "Save", track_path(track), method: :delete, data: { confirm: "Are you sure you want to remove this track from Samplrfy?" }, class: "btn save_track_btn" %>
              </div>
            </div>
            <% end %>
            <% else %>
            <div class="col-xs-3 track_download_col">
            <div class="col-xs-6">
              <%= link_to "Download", new_user_registration_path, class: "btn download_track_btn" %>
            </div>
              <div class="col-xs-6">
                <%= link_to "Save", new_user_registration_path, class: "btn save_track_btn" %>
              </div>
            </div>
            <% end %>
        </div>
          <% end %>
      </div>

    </div> -->
  </div>
