
<video src="https://res.cloudinary.com/dbe5xk4jk/video/upload/v1516216298/Ma-Vibes-Square-2_depyey.mp4" autoplay=“true” loop type="video/mp4">
</video>

<div class="container-fluid root_index_container">
  <% if user_signed_in? %>
    <div class="index_int_container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center index_title">The World of Royalty Free Audio.</h1>
          <h4 class="text-center index_desc">The Professional Audio Library free for Personal and Commercial Use.</h4>
          <div class="text-center"><%= form_tag tracks_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search],  placeholder: "Search by Track Name", class: "search_bar_index" %>
            <%= submit_tag "Search", class: "search_bar_submit_index" %>
          <% end %>
        </div>
        <div class="text-center explore_advanced">
          <h6>Advanced Search (Currently Unavailable)</h6>
        </div>
        </div>
      </div>
    </div>
  <% else %>
  <div class="index_int_container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center index_title">The World of Royalty Free Audio.</h1>
        <h4 class="text-center index_desc">The Professional Audio Library free for Personal and Commercial Use.</h4>
        <div class="text-center"><%= form_tag tracks_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search],  placeholder: "Search by Track Name", class: "search_bar_index" %>
          <%= submit_tag "Search", class: "search_bar_submit_index" %>
        <% end %>
      </div>
      <div class="text-center explore_advanced">
        <h6>Advanced Search (Currently Unavailable)</h6>
      </div>
      </div>
    </div>
  </div>
  <% end %>


  <div class="genre_select_container">
    <div class="row genre_select_row genres_home">
      <div class="col-xs-2 genre_select_col">
        <div class="text-center">
          <h4>Select by Genre</h4>
        </div>
      </div>

      <div class="col-xs-10">
        <ul class="genre_ul">
          <li class="genre_li genre_li_home"><h5><%= link_to "All", tracks_path %></h5></li>
              <% Genre.all.each do |genre| %>
                <li class="<%= 'highlight' if params[:genre] == genre.name %> text-center genre_li genre_li_home"><h5><%= link_to genre.name, tracks_path(genre: genre.name), class: "link" %></h5></li>
              <% end %>
        </ul>
      </div>
    </div><!-- / genre_select_row -->
  </div>

  <div class="down_arrow">
    <div class="text-center">
  <%= image_tag 'arrow_down.gif', :alt => 'logo' %>
    </div>
  </div>

</div><!-- end root_index_container -->
